body {
  background-color: #EFEDE5;
}
.background {
  background-image: url("/media/bg-1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #EFEDE5;
  height: 768px;
}
:root {
  --primary-font: "IBM Plex Mono", monospace;
  --secondary-font: "Lexend Deca", sans-serif;
}
.intro {
padding-top: 300px;
}
h1,
h2, h3 {
  font-family: var(--primary-font);
  font-weight: 500;
  color: #ffffff;
  text-align: center;
}
h1 {
  font-size: 96px;
}
h2 {
  font-size: 52px;
}
h3{
  font-size: 30px;
}
@media (max-width: 1200px) {
  h1 {
  font-size: 40px;
}
h2 {
  font-size: 26px;
}
h3{
  font-size: 14px;
}
}
