body {
  background-color: #efede5;
}
#background {
  background-image: url("/media/bg-1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #efede5;
  height: 768px;
}
:root {
  --primary-font: "IBM Plex Mono", monospace;
  --secondary-font: "Lexend Deca", sans-serif;
}
.intro {
  padding-top: 300px;
}
h1,
h2,
h3 {
  font-family: var(--primary-font);
  font-weight: 500;
  color: #ffffff;
  text-align: center;
}
h1 {
  font-size: 88px;
}
h2 {
  font-size: 52px;
}
h3 {
  font-size: 30px;
}
#large-sc {
  margin-top: 50px;
}
#large-sc .col-6 {
  margin: 0;
  padding: 0;
}
#large-sc .title {
  color: #000000;
  font-family: var(--primary-font);
  font-weight: 500;
  text-align: center;
  font-size: 110px;
  margin: 110px 50px 0 0;
}

#large-sc .about {
  font-family: var(--secondary-font);
  font-size: 28px;
  margin: 110px 0;
  text-align: justify;
}

#small-sc .title {
  color: #000000;
  font-family: var(--primary-font);
  font-weight: 500;
  text-align: center;
  font-size: 60px;
  margin-top: 90px;
}
#small-sc .about {
  font-family: var(--secondary-font);
  font-size: 18px;
  text-align: center;
  margin: 0 20px;
}
hr {
  width: 70%;
  margin: 0 auto;
  border: 2px solid #1a7772;
  border-radius: 5px;
  opacity: 0.7;
}
.titles {
  margin: 80px 0 110px 0;
  text-align: center;
  color: #000000;
  font-size: 88px;
}
.proj-name {
  font-size: 28px;
  font-family: var(--secondary-font);
  color: #000000;
  margin-bottom: 30px;
}
img {
  display: block;
  margin: 0 auto;
  border-radius: 30px;
  width: 80%;
  opacity: 0.7;
  transition: ease-in-out 100ms;
}
img:hover {
  opacity: 1;
}
.contact {
  margin: 100px 0 40px 0;
}
.icons {
  display: flex;
  justify-content: center;
  margin-bottom: 90px;
}
.icons i {
  font-size: 40px;
  margin: 0 30px 0 30px;
  color: #144240;
}
footer {
  font-family: var(--secondary-font);
  text-align: center;
}
@media (max-width: 768px) {
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 26px;
  }
  h3 {
    font-size: 12px;
  }
  hr {
    margin-top: 40px;
  }
  .titles {
    font-size: 40px;
    margin: 40px 0 60px 0;
  }
  .proj-name {
    font-size: 20px;
  }
  .icons i {
    font-size: 30px;
  }
  .contact {
    margin: 60px 0 30px 0;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  h1 {
    font-size: 60px;
  }
  h2 {
    font-size: 30px;
  }
  h3 {
    font-size: 18px;
  }
  #large-sc {
    margin-top: 0;
  }
  #large-sc .title {
    font-size: 60px;
    margin-right: 30px;
  }
  #large-sc .about {
    font-size: 22px;
    margin-top: 60px;
  }
  .titles {
    font-size: 60px;
    margin: 60px 0;
  }
}
