body {
  background-color: #efede5;
}
#background {
  background-image: url("/media/bg-1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #efede5;
  height: 768px;
}
:root {
  --primary-font: "IBM Plex Mono", monospace;
  --secondary-font: "Lexend Deca", sans-serif;
}
.intro {
  padding-top: 300px;
}
#name,
h2,
h3 {
  font-family: var(--primary-font);
  font-weight: 500;
  color: #ffffff;
  text-align: center;
}
#name {
  font-size: 88px;
}
h2 {
  font-size: 52px;
}
h3 {
  font-size: 30px;
}
#large-sc {
  margin-top: 50px;
}
#large-sc .col-6 {
  margin: 0;
  padding: 0;
}
#large-sc .who {
  color: #000000;
  font-family: var(--primary-font);
  font-weight: 500;
  text-align: center;
  font-size: 110px;
  margin: 110px 50px 0 0;
}
#small-sc .who {
  color: #000000;
  font-family: var(--primary-font);
  font-weight: 500;
  text-align: center;
  font-size: 60px;
  margin-top: 90px;
}
#large-sc .about {
  font-family: var(--secondary-font);
  font-size: 28px;
  margin: 110px 0;
  text-align: justify;
}
#small-sc .about {
  font-family: var(--secondary-font);
  font-size: 18px;
  text-align: center;
  margin: 0 20px;
}

@media (max-width: 768px) {
  #name {
    font-size: 40px;
  }
  h2 {
    font-size: 26px;
  }
  h3 {
    font-size: 12px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  #name {
    font-size: 60px;
  }
  #large-sc {
    margin-top: 0;
  }
  #large-sc .who {
    font-size: 60px;
    margin-right: 30px;
  }
  #large-sc .about {
    font-size: 22px;
    margin-top: 60px;
  }
  h2 {
    font-size: 30px;
  }
  h3 {
    font-size: 18px;
  }
}
